$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 22px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-main-header: 48px;

$font-family-icon: "Fontello";
$font-family-text-normal: "Source_Sans_Pro_normal", "Arial", sans-serif;
$font-family-text-bolder: "Source_Sans_Pro_bolder", "Arial", sans-serif;
$font-family-text-bold: "Source_Sans_Pro_bold", "Arial", sans-serif;

$color-gray: #888888;
