.price {

  .title {
    @include title;
    margin-bottom: 40px;
  }
}

.price-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  &__pic {
    display: none;
  }

  &__name {
    display: block;
    margin-bottom: 5px;

    font-family: $font-family-text-bolder;
    font-size: $font-size-xl;
  }

  &__text {
    display: block;
    margin-bottom: 10px;

    font-size: $font-size-xs;
    line-height: 20px;
    text-align: center;
    color: $color-gray;
  }

  &__cost {
    display: block;
    margin-bottom: 5px;

    font-family: $font-family-text-bolder;
    font-size: $font-size-xxl;

    border-bottom: 2px solid #000;
  }

  &__length {
    display: block;
    margin-bottom: 10px;

    color: $color-gray;
  }

  &__btn {
    width: 140px;
    height: 50px;

    font-size: $font-size-sm;
  }
}









@media ( min-width: 960px) {
  .price {
    margin-bottom: 77px;

    .title {
      margin-bottom: 80px;
    }
  }

  .price-item {
    width: 33%;

    &__pic {
      display: block;
      width: 100px;
      height: 100px;
      margin-bottom: 20px;

      background-size: contain;
      background-repeat: no-repeat;
    }

    &__pic_basic {
      background-image: url(../img/iphone-circle.png);
    }

    &__pic_standart {
      background-image: url(../img/laptop-circle.png);
    }

    &__pic_enterprice {
      background-image: url(../img/desktop-circle.png);
    }

    &__name {
      margin-bottom: 18px;
    }

    &__text {
      width: 60%;
    }

    &__length {
      margin-bottom: 35px;
    }

    &__btn {
      width: 140px;
      height: 50px;

      font-size: $font-size-sm;
    }
  }
}
