.stats {

  .title {
    @include title;
    margin-bottom: 40px;
  }

  &__row_flex {
    width: 100%;
    margin:0 auto 20px;
  }
}

.stats-item {
  width: calc( 50% - 30px);
  margin: 0 15px 30px;
  text-align: center;

  &__icon {
    padding-bottom: 6px;

    font-size: $font-size-main-header;
  }

  &__numb {
    font-family: $font-family-text-bolder;
    font-size: $font-size-xl;
  }

  &__text {
    font-size: $font-size-xs;
    color: $color-gray;
  }
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__head {
    margin-bottom: 5px;
    text-align: center;
  }

  &__avatar {
    display: block;
    width: 105px;
    height: 105px;
    margin:0 auto 15px;
  }

  &__author {
    margin-bottom: 5px;

    font-family: $font-family-text-bolder;
    font-size: $font-size-lg;
  }

  &__position {
    font-size: $font-size-sm;
    color: $color-gray;
  }

  &__text {
    display: flex;
    justify-content: center;
    width: 100%;

    font-size: $font-size-md;
    color: $color-gray;
    text-align: center;
  }

  &__quotes_left {
    display: block;
    padding-right: 5px;
  }

  &__quotes_right {
    display: block;
    align-self: flex-end;
    padding-left: 5px;

  }
}









@media ( min-width: 960px) {
  .stats {
    margin-bottom: 80px;

    .title {
      margin-bottom: 53px;
    }

    &__row_flex {
      justify-content: space-between;
      width: 68%;
      margin:0 auto 78px;
    }
  }

  .stats-item {
    width: 25%;
    margin: 0;
  }

  .review {

    &__head {
      margin-bottom: 5px;
    }

    &__text {
      width: 75%;
    }

    &__quotes_left {
      padding-right: 10px;
    }

    &__quotes_right {
      align-self: center;
      padding-left: 30px;

    }
  }
}
